header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) 95%);
    min-height: 150px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;


}


.container__menu-title > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.33);
    text-align: center;
    padding-bottom: 10px;

}

.container__menu-title > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    margin: auto;
    padding-bottom: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.33);
    text-align: center;
}

.container__menu-bar {
    text-align: center;
}

.container__menu-bar > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

.activated {
    color: red;
}